*{
    
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.number-button{
    color: red;
}


#numbers-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#operations-container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#calculator{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1frl;
    width: 1500px; 
    height: 750px;
}

#display{
    
    border: 1px blue solid;
    grid-column: 1/3;
}